<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Codilar_PdfTemplate::main" title="PDF Template" translate="title" sortOrder="100">
                        <resource id="Codilar_PdfTemplate::invoice_template" title="Invoice template" translate="title" sortOrder="10" />
                        <resource id="Codilar_PdfTemplate::shipment_template" title="Shipment template" translate="title" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
