<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales_pdf">
            <resource>Codilar_PdfTemplate::main</resource>
            <group id="invoice">
                <field id="pdf_template" translate="label" type="select" sortOrder="1" showInDefault="1" canRestore="1">
                    <label>Use HTML PDF template</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="shipment">
                <field id="pdf_template" translate="label" type="select" sortOrder="1" showInDefault="1" canRestore="1">
                    <label>Use HTML PDF template</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
